# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
db.sqlite3

# log
*.log

# IDE
.idea
.vscode

# Environments
.env
.venv
env/
venv/
ENV/

# Django media files
media/
