# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
db.sqlite3

# TODO: this will be removed in the future
migrations/

# log
*.log

# IDE
.idea
.vscode

# Environments
.env
.venv
env/
venv/
ENV/
