aliyun-python-sdk-core==2.13.9
asn1crypto==0.24.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
defusedxml==0.6.0
Django==2.1.12
django-allauth==0.40.0
idna==2.8
jmespath==0.9.4
Markdown==3.1.1
oauthlib==3.1.0
psycopg2-binary==2.7.5
pycparser==2.19
Pygments==2.4.2
pyOpenSSL==19.0.0
python-memcached==1.59
python3-openid==3.1.0
pytz==2018.5
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
six==1.11.0
urllib3==1.25.6
