asgiref==3.7.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==44.0.1
Django==4.2.27
django-allauth==65.0.2
gevent==24.11.1
greenlet==3.2.2
idna==3.10
Markdown==3.7
psycopg==3.2.3
psycopg-binary==3.2.3
psycopg-pool==3.2.3
pycparser==2.22
pycryptodome==3.21.0
Pygments==2.18.0
PyJWT==2.9.0
pymemcache==4.0.0
pyOpenSSL==24.3.0
PyYAML==6.0.2
requests==2.32.4
setuptools==80.4.0
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.6.3
uWSGI==2.0.28
zope.event==5.0
zope.interface==7.2
