{% extends 'otp/console.html' %}

{% block form %}
    <div class="msg-info">部分学校邮箱邮件送达可能较慢，请耐心等待。</div>
    <h1>{{ backend.name }}邮箱登录</h1>
    <form id="app" class="pure-form pure-form-aligned" method="post">
        {% csrf_token %}
        <div class="pure-control-group">
            <label for="identity">邮箱</label>
            <input type="email" id="identity" name="identity" v-model="identity" required="required">
            <button type="button" class="pure-button pure-button" @click="get_challenge()" :disabled="get_challenge_disabled">获取验证码</button>
        </div>
        <div class="pure-control-group">
            <label for="token">验证码</label>
            <input type="tel" id="token" name="token" autocomplete="off" required="required">
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">登录</button>
        </div>
    </form>
{% endblock %}
