{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>登录</h1>
    <form class="pure-form pure-form-aligned" method="post">
        {% csrf_token %}
        <div class="pure-control-group">
            <label for="identity">用户名</label>
            <input type="text" id="identity" name="identity" required="required">
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">登录</button>
        </div>
    </form>
{% endblock %}
