{% extends 'otp/console.html' %}

{% block form %}
    <div class="msg-info">只支持中国大陆手机号码</div>
    <h1>手机号码登录</h1>
    <form id="app" class="pure-form pure-form-aligned" method="post">
        {% csrf_token %}
        <div class="pure-control-group">
            <label for="identity">手机号码</label>
            <input type="tel" id="identity" name="identity" minlength="11" maxlength="11" v-model="identity" required="required">
            <button type="button" class="pure-button pure-button" @click="get_challenge()" :disabled="get_challenge_disabled">获取验证码</button>
        </div>
        <div class="pure-control-group">
            <label for="token">验证码</label>
            <input type="tel" id="token" name="token" autocomplete="off" required="required">
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">登录</button>
        </div>
    </form>
{% endblock %}
