[Unit]
# available options:
# hackergame@hackergame.service, or hackergame@hgtest.service
Description=Hackergame Platform (%i)
After=syslog.target

[Service]
ExecStart=/opt/%i/.venv/bin/uwsgi --ini /opt/%i/conf/uwsgi-apps/%i.ini --ini /opt/%i/conf/uwsgi.ini --set-placeholder appname=%i --logto /var/log/uwsgi/app/%i.log
ExecReload=/bin/kill -HUP $MAINPID
LogsDirectory=uwsgi/app
RuntimeDirectory=uwsgi/app/%i
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target