SECRET_KEY = ''
PRIVATE_KEY = '''
运行 manage.py generate_key 后输出的私钥（64 位十六进制字符串）
'''
GOOGLE_APP_SECRET = ''
MICROSOFT_APP_SECRET = ''
SMS_ACCESS_KEY_SECRET = ''
SMTP_HOSTNAME = ''
SMTP_USERNAME = ''
SMTP_PASSWORD = ''
EXTERNAL_LOGINS = {
    'example': {
        'url': 'https://lug.example.edu.cn/api/v1/sendmail',
        'key': '1234567',
        'use_smtp': False,
    }
}
FEEDBACK_ENDPOINT = 'https://example.com/bot/'  # or None
FEEDBACK_KEY = '1145141919811'
