SECRET_KEY = ''
PRIVATE_KEY = '''
openssl ecparam -name secp256k1 -genkey -noout
'''
CERTIFICATE = '''
openssl req -x509 -key conf/local_settings.py -days 30
'''
GOOGLE_APP_SECRET = ''
MICROSOFT_APP_SECRET = ''
SMS_ACCESS_KEY_SECRET = ''
SMTP_HOSTNAME = ''
SMTP_USERNAME = ''
SMTP_PASSWORD = ''
HIT_MAIL_API_KEY = ''
NUDT_ALLOWLIST = '/dev/null'
HIT_USE_SMTP = False

