{% load i18n static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ ctf_page.title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ ctf_page.description }}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{{ ctf_page.keywords }}{% endblock %}">
    {% block css %}
        <link rel="stylesheet" href="{% static 'pure.min.css' %}">
        <link rel="stylesheet" href="{% static 'grids-responsive.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'main.css' %}">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
<div class="banner">
    <div class="content">
        <a class="title" href="{% url 'hub' %}">{{ ctf_page.title }}</a>
        {% include 'user/widget.html' %}
    </div>
</div>
<div class="content">
    {% if messages %}
        {% for message in messages %}
            <div class="msg-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
