{% extends 'base.html' %}
{% load static vue_utils %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vue.min.js' %}"></script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated and ctf_info.score %}
        {% if perms.ctf.view_userscorecache %}
            <div class="msg-info">
                您目前得分：{{ ctf_info.score }}；
                <a href="{% url 'board' %}">总排名：{{ ctf_info.rank }} / {{ ctf_info.rank_total }}</a>；
                您所属的参赛组：{{ ctf_info.first_backend.name }}；
                <a href="{% url 'board' backend=ctf_info.first_backend.id %}">组内排名：{{ ctf_info.local_rank }} / {{ ctf_info.local_rank_total }}</a>；
            </div>
        {% else %}
            <div class="msg-info">
                您目前得分：{{ ctf_info.score }}；
                总排名：{{ ctf_info.rank }} / {{ ctf_info.rank_total }}；
                您所属的参赛组：{{ ctf_info.first_backend.name }}；
                组内排名：{{ ctf_info.local_rank }} / {{ ctf_info.local_rank_total }}；
            </div>
        {% endif %}
    {% endif %}
    <div id="app">
        <div class="problems">
            <table class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>题目</th>
                        <th>分数</th>
                        <th>完成人数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in table_rows"
                        :class="{problem: row.problem, flag: !row.problem, 'problem-highlight': row.index==problem_index}"
                        @click="row_click(row)">
                        <td v-if="row.problem">
                            <i v-if="!solved[row.index]" class="far fa-circle"></i>
                            <i v-if="solved[row.index]" class="fas fa-check-circle"></i>
                            ${row.name}
                        </td>
                        <td v-if="!row.problem">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i v-if="!has(solved_flags, row.pk)" class="far fa-circle"></i>
                            <i v-if="has(solved_flags, row.pk)" class="fas fa-check-circle"></i>
                            ${row.name}
                        </td>
                        <td>${row.score}</td>
                        <td>${row.user_solved}</td>
                    </tr>
                    <tr v-if="!table_rows.length">
                        {% if ctf_switch %}
                            <td colspan="3" class="center">（暂无题目）</td>
                        {% else %}
                            <td colspan="3" class="center">{{ ctf_switch }}</td>
                        {% endif %}
                    </tr>
                    {% if perms.ctf.change_problem %}
                        <tr>
                            <td colspan="3" class="center"><a href="{% url 'admin:index' %}">编辑题目</a></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div v-if="problem_index==-1">
            {{ ctf_page.content|safe }}
        </div>
        <div v-if="problem_index!=-1">
            <h1>${problem.name}</h1>
            <div><p v-html="problem.detail"></p></div>
            <form class="pure-form" method="post" :key="problem_index">
                {% csrf_token %}
                <a class="pure-button pure-input-rounded" target="_blank" :href="problem.url">打开题目</a>
                <input type="hidden" name="problem" :value="problem.pk">
                {% if user.is_authenticated %}
                    <input type="text" name="flag" class="pure-input-rounded" autocomplete="off" placeholder="flag{...}">
                    <button type="submit" class="pure-button pure-button-primary pure-input-rounded">提交</button>
                {% else %}
                    <input type="text" name="flag" class="pure-input-rounded" autocomplete="off" placeholder="flag{...}" disabled="disabled">
                    <button type="submit" class="pure-button pure-button-primary pure-input-rounded" disabled="disabled">请先登录</button>
                {% endif %}
            </form>
        </div>
    </div>
    {{ problem_list|list|json_script:'problem-list' }}
    {% if user.is_authenticated %}
        {{ ctf_info.solved_flags|json_script:'solved-flags' }}
    {% else %}
        <script id="solved-flags">[]</script>
    {% endif %}
    <script>
        problem_list = JSON.parse(document.getElementById('problem-list').textContent)
        solved_flags = JSON.parse(document.getElementById('solved-flags').textContent)
        for (var i = 0; i < problem_list.length; i++) {
            var score = 0
            for (var j = 0; j < problem_list[i].flags.length; j++) {
                score += problem_list[i].flags[j].score
            }
            problem_list[i].score = score
        }
        function has(l, i) {
            return (l.indexOf(i) != -1)
        }
        solved = []
        for (var i = 0; i < problem_list.length; i++) {
            var s = true
            for (var j = 0; j < problem_list[i].flags.length; j++) {
                if (!has(solved_flags, problem_list[i].flags[j].pk)) {
                    s = false
                    break
                }
            }
            solved.push(s)
        }
        var pk = decodeURI(location.hash.slice(1))
        var problem_index = -1
        for (var i = 0; i < problem_list.length; i++) {
            if (problem_list[i].pk == pk) {
                problem_index = i
                break
            }
        }
        app = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                problem_index: problem_index,
            },
            computed: {
                problem: function () {
                    return problem_list[this.problem_index]
                },
                table_rows: function () {
                    var r = []
                    for (var i = 0; i < problem_list.length; i++) {
                        r.push({
                            problem: true,
                            index: i,
                            name: problem_list[i].name,
                            score: problem_list[i].score,
                            user_solved: problem_list[i].user_solved,
                        })
                        if (i==this.problem_index && problem_list[i].flags.length > 1) {
                            for (var j = 0; j < problem_list[i].flags.length; j++) {
                                r.push({
                                    problem: false,
                                    pk: problem_list[i].flags[j].pk,
                                    name: problem_list[i].flags[j].name,
                                    score: problem_list[i].flags[j].score,
                                    user_solved: problem_list[i].flags[j].user_solved,
                                })
                            }
                        }
                    }
                    return r
                },
            },
            methods: {
                row_click: function (row) {
                    if (row.problem && row.index != this.problem_index) {
                        this.problem_index = row.index
                        location.hash = '#'+problem_list[row.index].pk
                    } else {
                        this.problem_index = -1
                        location.hash = ''
                    }
                }
            },
        })
        function logoonclick() {
            app.problem_index = -1
            location.hash = ''
        }
    </script>
{% endblock %}
