{% extends "admin_base.html" %}

{% block content %}
    {% verbatim %}
    <div id="content-main">
        <ul class="object-tools">
            <li><a href="#" @click.prevent="refresh">刷新</a></li>
        </ul>
        <div class="module" id="changelist" style="display: block">
            <p class="filter">
                <a href="#" :class="{selected: !filters.violations&&filters.match===null}" @click.prevent="change_filter({violations: false, match: null})">全部</a>
                <a href="#" :class="{selected: !filters.violations&&filters.match===true}" @click.prevent="change_filter({violations: false, match: true})">成功提交</a>
                <a href="#" :class="{selected: !filters.violations&&filters.match===false}" @click.prevent="change_filter({violations: false, match: false})">失败提交</a>
                <a href="#" :class="{selected: filters.violations}" @click.prevent="change_filter({violations: true, match: null})">可疑提交</a>
            </p>
            <p class="filter">
                <a href="#" :class="{selected: filters.challenge===null}" @click.prevent="change_filter({challenge: null})">全部</a>
                <a v-for="challenge in challenges" href="#" :class="{selected: filters.challenge===challenge.pk}" @click.prevent="change_filter({challenge: challenge.pk})">{{ challenge.name }}</a>
            </p>
            <p class="filter">
                <a href="#" :class="{selected: filters.group===null}" @click.prevent="change_filter({group: null})">全部</a>
                <a v-for="(name, group) in groups" href="#" :class="{selected: filters.group===group}" @click.prevent="change_filter({group: group})">{{ name }}</a>
            </p>
            <div class="results">
                <table id="result_list">
                    <thead>
                    <tr>
                        <th v-if="!filters.violations" scope="col"><div class="text"><span>#</span></div><div class="clear"></div></th>
                        <th scope="col"><div class="text"><span>用户</span></div><div class="clear"></div></th>
                        <th scope="col"><div class="text"><span>题目</span></div><div class="clear"></div></th>
                        <th v-if="!filters.violations" scope="col"><div class="text"><span>文本</span></div><div class="clear"></div></th>
                        <th scope="col"><div class="text"><span>时间</span></div><div class="clear"></div></th>
                        <th scope="col"><div class="text"><span>匹配的 flag</span></div><div class="clear"></div></th>
                        <th v-if="filters.violations" scope="col"><div class="text"><span>匹配的用户</span></div><div class="clear"></div></th>
                    </tr>
                    </thead>
                    <tbody v-if="objs">
                    <tr v-for="obj in objs">
                        <td v-if="!filters.violations">{{ obj.pk }}</td>
                        <td>{{ users[obj.user]||obj.user }}</td>
                        <td>{{ challenge_names[obj.challenge]||obj.challenge }}</td>
                        <td v-if="!filters.violations">{{ obj.text }}</td>
                        <td>{{ new Date(obj.time).toLocaleString() }}</td>
                        <td v-if="filters.violations">{{ flag_names[[obj.challenge,obj.violation_flag]]||obj.violation_flag }}</td>
                        <td v-else-if="obj.flag!==null">{{ flag_names[[obj.challenge,obj.flag]]||obj.flag }}</td>
                        <td v-else></td>
                        <td v-if="filters.violations">{{ users[obj.violation_user]||obj.violation_user }}</td>
                    </tr>
                    </tbody>
                </table>
                <p v-if="!objs">（正在加载）</p>
            </div>
            <p v-if="objs" class="paginator">
                <a v-if="page_before!==null" href="#" @click.prevent="refresh({before: page_before})">上一页</a>
                <span v-else>上一页</span>
                <a v-if="page_after!==null" href="#" @click.prevent="refresh({after: page_after})">下一页</a>
                <span v-else>下一页</span>
            </p>
        </div>
    </div>
    {% endverbatim %}
    {{ users|json_script:'json-users' }}
    {{ challenges|json_script:'json-challenges' }}
    {{ groups|json_script:'json-groups' }}
    <script>
    let challenges = JSON.parse(document.getElementById('json-challenges').textContent);
    let challenge_names = {};
    let flag_names = {};
    for (let challenge of challenges) {
        challenge_names[challenge.pk] = challenge.name;
        challenge.flags.forEach((flag, i) => flag_names[[challenge.pk, i]] = flag.name||challenge.name);
    }
    app = new Vue({
        el: '#content-main',
        data: {
            users: JSON.parse(document.getElementById('json-users').textContent),
            challenges,
            challenge_names,
            flag_names,
            groups: JSON.parse(document.getElementById('json-groups').textContent),
            objs: undefined,
            page_after: undefined,
            page_before: undefined,
            filters: {
                violations: false,
                challenge: null,
                group: null,
                match: null,
            },
        },
        created() {
            this.refresh();
        },
        methods: {
            refresh({after, before} = {}) {
                if (this.filters.violations) {
                    axios.post('.', {
                        method: 'get_violations',
                        args: {
                            challenge: this.filters.challenge,
                            group: this.filters.group,
                        },
                    })
                        .then(({data: {value}}) => {
                            this.objs = value;
                            this.page_after = null;
                            this.page_before = null;
                        })
                        .catch(({response: {data: {error}}}) => {
                            alert(error && error.message);
                        });
                } else {
                    axios.post('.', {
                        method: 'get_log',
                        args: {
                            after,
                            before,
                            challenge: this.filters.challenge,
                            group: this.filters.group,
                            match: this.filters.match,
                            limit: 100,
                        },
                    })
                        .then(({data: {value}}) => {
                            if (value.length) {
                                this.objs = value;
                                this.page_after = value[value.length - 1].pk;
                                this.page_before = value[0].pk;
                            } else {
                                if (after===undefined&&before===undefined) {
                                    this.objs = [];
                                }
                                // 没有写错
                                if (after===undefined) {
                                    this.page_before = null;
                                }
                                if (before===undefined) {
                                    this.page_after = null;
                                }
                            }
                        })
                        .catch(({response: {data: {error}}}) => {
                            alert(error && error.message);
                        });
                }
            },
            change_filter(update) {
                this.objs = undefined;
                for (let k of Object.keys(update)) {
                    this.filters[k] = update[k];
                }
                this.refresh();
            },
        },
    });
    </script>
{% endblock %}
