{% load i18n static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=600, initial-scale=1">
    <title>{% block title %}{{ page.title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ page.description }}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{{ page.keywords }}{% endblock %}">
    {% block css %}
        <link rel="stylesheet" href="{% static 'pure.min.css' %}">
        <link rel="stylesheet" href="{% static 'grids-responsive.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'code.css' %}">
    {% endblock %}
    {% block js %}
        <script src="{% static 'date.js' %}"></script>
    {% endblock %}
    <!-- {% csrf_token %} -->
</head>
<body>
<div class="banner">
    <div class="nav content">
        <a class="title" href="{% url 'hub' %}">{{ page.title }}</a>
        <div class="pure-menu pure-menu-horizontal" style="width: auto">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a class="pure-button" href="{% url 'announcements' %}">公告</a>
                </li>
                {% if user_ %}
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <span class="pure-button">排行榜</span>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item"><a href="/board/" class="pure-menu-link">总排名</a></li>
                            {% if user_.group == 'staff' %}
                                {% for group, group_name in groups.items %}
                                    <li class="pure-menu-item"><a href="/board/?group={{ group|urlencode }}" class="pure-menu-link">{{ group_name }}排名</a></li>
                                {% endfor %}
                            {% elif user_.group not in no_board_groups %}
                                <li class="pure-menu-item"><a href="/board/?group={{ user_.group|urlencode }}" class="pure-menu-link">组内排名</a></li>
                            {% endif %}
                            <li class="pure-menu-item"><a href="/first/" class="pure-menu-link">总一血榜</a></li>
                            {% if user_.group == 'staff' %}
                                {% for group, group_name in groups.items %}
                                    <li class="pure-menu-item"><a href="/first/?group={{ group|urlencode }}" class="pure-menu-link">{{ group_name }}一血榜</a></li>
                                {% endfor %}
                            {% elif user_.group not in no_board_groups %}
                                <li class="pure-menu-item"><a href="/first/?group={{ user_.group|urlencode }}" class="pure-menu-link">组内一血榜</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if user_ %}
                    <li class="pure-menu-item">
                        <a class="pure-button" href="{% url 'profile' %}">个人信息</a>
                    </li>
                    <li class="pure-menu-item">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="pure-button" id="username">注销 {{ user_.display_name }}</button>
                        </form>
                    </li>
                {% else %}
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <span class="pure-button pure-button-primary">注册/登录</span>
                        <ul class="pure-menu-children">
                            {% if debug %}
                                <li class="pure-menu-item"><a href="/accounts/debug/login/" class="pure-menu-link">调试登录</a></li>
                            {% endif %}
                            <li class="pure-menu-item"><a href="/accounts/ustc/login/" class="pure-menu-link">中国科学技术大学</a></li>
                            <li class="pure-menu-item"><a href="/accounts/jlu/login/" class="pure-menu-link">吉林大学</a></li>
                            <li class="pure-menu-item"><a href="/accounts/nankai/login/" class="pure-menu-link">南开大学</a></li>
                            <li class="pure-menu-item"><a href="/accounts/bupt/login/" class="pure-menu-link">北京邮电大学</a></li>
                            <li class="pure-menu-item"><a href="/accounts/cqu/login/" class="pure-menu-link">重庆大学</a></li>
                            <li class="pure-menu-item"><a href="/accounts/hit/login/" class="pure-menu-link">哈尔滨工业大学</a></li>
                            <li class="pure-menu-item"><a href="/accounts/neu/login/" class="pure-menu-link">东北大学</a></li>
                            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                                <a href="#" class="pure-menu-link">其他选手</a>
                                <ul class="pure-menu-children">
                                    <li class="pure-menu-item"><a href="/accounts/sms/login/" class="pure-menu-link">手机号码登录</a></li>
                                    <li class="pure-menu-item"><a href="/accounts/google/login/" class="pure-menu-link">Google 账号登录</a></li>
                                    <li class="pure-menu-item"><a href="/accounts/microsoft/login/" class="pure-menu-link">Microsoft 账号登录</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<script src="{% static 'menus.js' %}"></script>
<div class="content">
    {% if messages %}
        {% for message in messages %}
            <div class="msg-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
