{% load i18n static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page.title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ page.description }}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{{ page.keywords }}{% endblock %}">
    {% block css %}
        <link rel="stylesheet" href="{% static 'pure.min.css' %}">
        <link rel="stylesheet" href="{% static 'grids-responsive.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'main.css' %}">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
<div class="banner">
    <div class="nav content">
        <a class="title" href="{% url 'hub' %}">{{ page.title }}</a>
        <div class="pure-menu pure-menu-horizontal" style="width: auto">
            <ul class="pure-menu-list">
                {% if user_ %}
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" href="{% url 'profile' %}">修改个人信息</a>
                    </li>
                    <li class="pure-menu-item">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="pure-button">注销 {{ user_.display_name }}</button>
                        </form>
                    </li>
                {% else %}
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <span class="pure-button pure-button-primary">注册/登录</span>
                        <ul class="pure-menu-children">
                            {% for backend in otp_backends %}
                                <li class="pure-menu-item"><a href="{{ backend.login_url }}" class="pure-menu-link">{{ backend.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<script src="{% static 'menus.js' %}"></script>
<div class="content">
    {% if messages %}
        {% for message in messages %}
            <div class="msg-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
