{% extends 'base.html' %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vue.min.js' %}"></script>
    <script src="{% static 'axios.min.js' %}"></script>
    <script src="{% static 'chart.min.js' %}"></script>
    <script src="{% static 'chart.js' %}"></script>
    <script src="{% static 'color.js' %}"></script>
    <script src="{% static 'seedrandom.js' %}"></script>
    <script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    </script>
{% endblock %}

{% block content %}
    {% verbatim %}
    <div id="app">
        <div class="float-right">
            <a v-if="profile_fields.length" href="#" @click.prevent="show_profile=!show_profile">切换个人信息显示</a>
            <a href="#" @click.prevent="show_progress_toggle">切换进度显示</a>
        </div>
        <h1>{{ filters.category?`${filters.category} 类`:'' }}{{ filters.group?groups[filters.group]:'总' }}排名</h1>
        <div v-if="!filters.category" id="charttext">正在加载</div>
        <canvas v-if="!filters.category" id="chart" style="width: 100%; height: 400px"></canvas>
        <table class="pure-table pure-table-horizontal center">
            <thead>
            <tr class="center">
                <td>名次</td>
                <td v-if="!show_progress">昵称</td>
                <td v-if="!show_progress">分数</td>
                <td v-if="!show_progress">时间</td>
                <td v-if="!show_progress&&show_profile" v-for="field in profile_fields">{{ field.name }}</td>
                <td v-if="show_progress">进度（鼠标悬浮查看详情）</td>
            </tr>
            </thead>
            <tbody v-if="objs">
            <tr v-for="(obj, obj_index) in objs" :class="{'highlight-row': obj.user===user.pk}">
                <td>{{ obj_index + 1 }}</td>
                <td v-if="!show_progress" style="word-break: break-all"><span v-for="part in pretty_name(users[obj.user].display_name)" :style="part.style">{{ part.text }}</span></td>
                <td v-if="!show_progress">{{ obj.score }}</td>
                <td v-if="!show_progress" style="word-break: keep-all">{{ new Date(obj.time).toLocaleString() }}</td>
                <td v-if="!show_progress&&show_profile" v-for="field in profile_fields">{{ users[obj.user][field.field] }}</td>
                <td v-if="show_progress">
                    <template v-for="challenge in challenges">
                        <i v-if="(!user_progress)||(!user_progress[obj.user])" class="fas fa-hourglass-half fa-fw" title="正在载入"></i>
                        <i v-else-if="user_progress[obj.user].challenges.some(i=>i.challenge===challenge.pk)" class="fas fa-check-circle fa-fw" :title="`${users[obj.user].display_name}\n于 ${new Date(user_progress[obj.user].challenges.find(i=>i.challenge===challenge.pk).time).toLocaleString()} 完成了\n${challenge.name}`"></i>
                        <i v-else-if="user_progress[obj.user].flags.some(i=>i.challenge===challenge.pk)" class="fas fa-dot-circle fa-fw" :title="`${users[obj.user].display_name}\n部分完成了\n${challenge.name}\n`+challenge.flags.map((i,j)=>`${i.name}：${display_time(user_progress[obj.user].flags.find(i=>i.challenge===challenge.pk&&i.flag===j))}`).join('\n')"></i>
                        <i v-else class="far fa-circle fa-fw" :title="`${users[obj.user].display_name}\n未完成\n${challenge.name}`"></i>
                    </template>
                </td>
            </tr>
            </tbody>
        </table>
        <p v-if="!objs">（正在加载）</p>
    </div>
    {% endverbatim %}
    {{ filters|json_script:'json-filters' }}
    {{ groups|json_script:'json-groups' }}
    {{ users|json_script:'json-users' }}
    {{ user_.json|json_script:'json-user' }}
    {{ challenges|json_script:'json-challenges' }}
    <script>
    app = new Vue({
        el: '#app',
        data: {
            filters: JSON.parse(document.getElementById('json-filters').textContent),
            groups: JSON.parse(document.getElementById('json-groups').textContent),
            users: JSON.parse(document.getElementById('json-users').textContent),
            user: JSON.parse(document.getElementById('json-user').textContent),
            challenges: JSON.parse(document.getElementById('json-challenges').textContent),
            objs: undefined,
            profile_fields: [],
            show_profile: false,
            user_progress: undefined,
            show_progress: false,
        },
        created() {
            this.refresh();
        },
        methods: {
            refresh() {
                axios.post('/admin/submission/', {method: 'get_board', args: {limit: 100, ...this.filters}})
                    .then(({data: {value}}) => {
                        this.objs = value;
                        if (!this.filters.category) {
                            drawchart();
                        }
                        let fields = new Set();
                        for (let obj of this.objs) {
                            if (obj.user === this.user.pk) {
                                continue;
                            }
                            for (let field of Object.keys(this.users[obj.user])) {
                                if (this.users[obj.user][field]) {
                                    fields.add(field);
                                }
                            }
                        }
                        const field_names = {
                            name: '姓名',
                            sno: '学号',
                            tel: '电话',
                            email: '邮箱',
                            gender: '性别',
                            qq: 'QQ',
                            school: '学院',
                            grade: '年级',
                            aff: '了解比赛的渠道',
                        };
                        this.profile_fields = [...fields]
                            .filter(field => field_names.hasOwnProperty(field))
                            .map(field => ({field, name: field_names[field]}));
                    })
                    .catch(({response: {data: {error}}}) => {
                        alert(error && error.message);
                    });
            },
            show_progress_toggle() {
                this.show_progress = !this.show_progress;
                if (!this.show_progress || this.user_progress) {
                    return;
                }
                this.user_progress = {};
                this.objs.forEach(obj => {
                    axios.post('/admin/submission/', {method: 'get_user_progress', args: {user: obj.user}})
                        .then(({data: {value}}) => {
                            Vue.set(this.user_progress, obj.user, value);
                        });
                });
            },
            display_time(o) {
                if (o) {
                    return new Date(o.time).toLocaleString();
                } else {
                    return '未完成';
                }
            },
            tag_color(tag) {
                let random = new Math.seedrandom(tag);
                let color;
                do {
                    color = new CIELUV(
                        random() * 40 + 30,
                        random() * 400 - 200,
                        random() * 400 - 200,
                    ).sRGB();
                } while (!color.valid());
                return color.hex();
            },
            pretty_name(s) {
                const [a, ...b] = s.split(' #');
                const [c, ...d] = a.split('|');
                const r = [];
                return [
                    {text: c, style: {}},
                    {text: d.map(i => '|' + i).join(''), style: {color: '#888'}},
                    ...b.map(i => ({text: '#' + i, style: {
                        backgroundColor: this.tag_color(i),
                        color: '#fff',
                        borderRadius: '100em',
                        padding: '0 .5em',
                        marginLeft: '.25em',
                    }})),
                ];
            },
        },
    });
    </script>
{% endblock %}
