{% extends 'base.html' %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vue.min.js' %}"></script>
    <script src="{% static 'axios.min.js' %}"></script>
    <script src="{% static 'color.js' %}"></script>
    <script src="{% static 'seedrandom.js' %}"></script>
    <script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    </script>
{% endblock %}

{% block content %}
    {% verbatim %}
    <div id="app">
        <div class="float-right">
            <a v-if="profile_fields.length" href="#" @click.prevent="show_profile=!show_profile">切换个人信息显示</a>
        </div>
        <h1>{{ filters.category?`${filters.category} 类`:'' }}{{ filters.group?groups[filters.group]:'总' }}一血榜</h1>
        <table class="pure-table pure-table-horizontal center">
            <thead>
            <tr class="center">
                <td>题目</td>
                <td>昵称</td>
                <td>时间</td>
                <td v-if="show_profile" v-for="field in profile_fields">{{ field.name }}</td>
            </tr>
            </thead>
            <tbody v-if="objs">
            <template v-for="challenge in challenges">
                <tr :class="{'highlight-row': objs.challenges[challenge.pk].user===user.pk}">
                    <td>{{ challenge.name }}</td>
                    <td style="word-break: break-all"><span v-for="part in pretty_name((users[objs.challenges[challenge.pk].user]||{display_name:''}).display_name)" :style="part.style">{{ part.text }}</span></td>
                    <td style="word-break: keep-all">{{ objs.challenges[challenge.pk].time }}</td>
                    <td v-if="show_profile" v-for="field in profile_fields">{{ (users[objs.challenges[challenge.pk].user]||{[field.field]:''})[field.field] }}</td>
                </tr>
                <tr v-if="challenge.flags.length>1" v-for="(flag, flag_index) in challenge.flags" :class="{'highlight-row': objs.flags[[challenge.pk, flag_index]].user===user.pk}">
                    <td>{{ challenge.name }}/{{ flag.name }}</td>
                    <td style="word-break: break-all"><span v-for="part in pretty_name((users[objs.flags[[challenge.pk, flag_index]].user]||{display_name:''}).display_name)" :style="part.style">{{ part.text }}</span></td>
                    <td style="word-break: keep-all">{{ objs.flags[[challenge.pk, flag_index]].time }}</td>
                    <td v-if="show_profile" v-for="field in profile_fields">{{ (users[objs.flags[[challenge.pk, flag_index]].user]||{[field.field]:''})[field.field] }}</td>
                </tr>
            </template>
            </tbody>
        </table>
        <p v-if="!objs">（正在加载）</p>
    </div>
    {% endverbatim %}
    {{ filters|json_script:'json-filters' }}
    {{ groups|json_script:'json-groups' }}
    {{ users|json_script:'json-users' }}
    {{ user_.json|json_script:'json-user' }}
    {{ challenges|json_script:'json-challenges' }}
    <script>
    app = new Vue({
        el: '#app',
        data: {
            filters: JSON.parse(document.getElementById('json-filters').textContent),
            groups: JSON.parse(document.getElementById('json-groups').textContent),
            users: JSON.parse(document.getElementById('json-users').textContent),
            user: JSON.parse(document.getElementById('json-user').textContent),
            challenges: JSON.parse(document.getElementById('json-challenges').textContent),
            objs: undefined,
            profile_fields: [],
            show_profile: false,
        },
        created() {
            this.refresh();
        },
        methods: {
            refresh() {
                axios.post('/admin/submission/', {method: 'get_first', args: this.filters})
                    .then(({data: {value: {challenges, flags}}}) => {
                        let objs = {challenges: {}, flags: {}};
                        for (let i = 0; i < this.challenges.length; i++) {
                            let challenge = this.challenges[i];
                            objs.challenges[challenge.pk] = {user: null, time: null};
                            for (let j = 0; j < challenge.flags.length; j++) {
                                objs.flags[[challenge.pk, j]] = {user: null, time: null};
                            }
                        }
                        for (let i of challenges) {
                            objs.challenges[i.challenge] = {
                                user: i.user,
                                time: new Date(i.time).toLocaleString(),
                            };
                        }
                        for (let i of flags) {
                            objs.flags[[i.challenge, i.flag]] = {
                                user: i.user,
                                time: new Date(i.time).toLocaleString(),
                            };
                        }
                        this.objs = objs;
                        let fields = new Set();
                        for (let u of Object.values(objs.challenges).concat(Object.values(objs.flags)).map(i => i.user)) {
                            if (!u || u === this.user.pk) {
                                continue;
                            }
                            for (let field of Object.keys(this.users[u])) {
                                if (this.users[u][field]) {
                                    fields.add(field);
                                }
                            }
                        }
                        const field_names = {
                            name: '姓名',
                            sno: '学号',
                            tel: '电话',
                            email: '邮箱',
                            gender: '性别',
                            qq: 'QQ',
                            website: '个人主页/博客',
                            school: '学院',
                            grade: '年级',
                            major: '专业',
                            campus: '校区',
                            aff: '了解比赛的渠道',
                        };
                        this.profile_fields = [...fields]
                            .filter(field => field_names.hasOwnProperty(field))
                            .map(field => ({field, name: field_names[field]}));
                    })
                    .catch(({response: {data: {error}}}) => {
                        alert(error && error.message);
                    });
            },
            tag_color(tag) {
                let random = new Math.seedrandom(tag);
                let color;
                do {
                    color = new CIELUV(
                        random() * 40 + 30,
                        random() * 400 - 200,
                        random() * 400 - 200,
                    ).sRGB();
                } while (!color.valid());
                return color.hex();
            },
            pretty_name(s) {
                const [a, ...b] = s.split(' #');
                const [c, ...d] = a.split('|');
                const r = [];
                return [
                    {text: c, style: {}},
                    {text: d.map(i => '|' + i).join(''), style: {color: '#888'}},
                    ...b.map(i => ({text: '#' + i, style: {
                        backgroundColor: this.tag_color(i),
                        color: '#fff',
                        borderRadius: '100em',
                        padding: '0 .5em',
                        marginLeft: '.25em',
                        whiteSpace: 'nowrap',
                    }})),
                ];
            },
        },
    });
    </script>
{% endblock %}
