{% extends 'base.html' %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vue.min.js' %}"></script>
    <script src="{% static 'axios.min.js' %}"></script>
    <script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    </script>
{% endblock %}

{% block content %}
    {% verbatim %}
    <div id="app">
        <h1>{{ filters.category?`${filters.category} 类`:'' }}{{ filters.group?groups[filters.group]:'' }}一血榜</h1>
        <table class="pure-table pure-table-horizontal center">
            <thead>
            <tr class="center">
                <td>题目</td>
                <td>昵称</td>
                <td>时间</td>
            </tr>
            </thead>
            <tbody v-if="objs">
            <template v-for="challenge in challenges">
                <tr :class="{'highlight-row': objs.challenges[challenge.pk].user===user.pk}">
                    <td>{{ challenge.name }}</td>
                    <td style="word-break: break-all">{{ users[objs.challenges[challenge.pk].user] }}</td>
                    <td style="word-break: keep-all">{{ objs.challenges[challenge.pk].time }}</td>
                </tr>
                <tr v-if="challenge.flags.length>1" v-for="(flag, flag_index) in challenge.flags" :class="{'highlight-row': objs.flags[[challenge.pk, flag_index]].user===user.pk}">
                    <td>{{ challenge.name }}/{{ flag.name }}</td>
                    <td style="word-break: break-all">{{ users[objs.flags[[challenge.pk, flag_index]].user] }}</td>
                    <td style="word-break: keep-all">{{ objs.flags[[challenge.pk, flag_index]].time }}</td>
                </tr>
            </template>
            </tbody>
        </table>
        <p v-if="!objs">（正在加载）</p>
    </div>
    {% endverbatim %}
    {{ filters|json_script:'json-filters' }}
    {{ groups|json_script:'json-groups' }}
    {{ users|json_script:'json-users' }}
    {{ user_.json|json_script:'json-user' }}
    {{ challenges|json_script:'json-challenges' }}
    <script>
    app = new Vue({
        el: '#app',
        data: {
            filters: JSON.parse(document.getElementById('json-filters').textContent),
            groups: JSON.parse(document.getElementById('json-groups').textContent),
            users: JSON.parse(document.getElementById('json-users').textContent),
            user: JSON.parse(document.getElementById('json-user').textContent),
            challenges: JSON.parse(document.getElementById('json-challenges').textContent),
            objs: undefined,
        },
        created() {
            this.refresh();
        },
        methods: {
            refresh() {
                axios.post('/admin/submission/', {method: 'get_first', args: this.filters})
                    .then(({data: {value: {challenges, flags}}}) => {
                        let objs = {challenges: {}, flags: {}};
                        for (let i = 0; i < this.challenges.length; i++) {
                            let challenge = this.challenges[i];
                            objs.challenges[challenge.pk] = {user: null, time: null};
                            for (let j = 0; j < challenge.flags.length; j++) {
                                objs.flags[[challenge.pk, j]] = {user: null, time: null};
                            }
                        }
                        for (let i of challenges) {
                            objs.challenges[i.challenge] = {
                                user: i.user,
                                time: new Date(i.time).toLocaleString(),
                            };
                        }
                        for (let i of flags) {
                            objs.flags[[i.challenge, i.flag]] = {
                                user: i.user,
                                time: new Date(i.time).toLocaleString(),
                            };
                        }
                        this.objs = objs;
                    })
                    .catch(({response: {data: {error}}}) => {
                        alert(error && error.message);
                    });
            },
        },
    });
    </script>
{% endblock %}
