{% extends 'base.html' %}
{% load static %}

{% block js %}
{{ block.super }}
<script src="{% static 'vue.min.js' %}"></script>
<script src="{% static 'axios.min.js' %}"></script>
<script src="{% static 'chart.umd.min.js' %}"></script>
<script src="{% static 'moment.min.js' %}"></script>
<script src="{% static 'chartjs-adapter-moment.min.js' %}"></script>
<script src="{% static 'color.js' %}"></script>
<script src="{% static 'seedrandom.js' %}"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
</script>
{% endblock %}

{% block content %}
{% verbatim %}
<div id="app">
    <h1>分数查询</h1>
    <form class="pure-form" @submit.prevent="refresh">
        <label for="user-set">用户 ID（用英文逗号隔开多个）:</label>
        <input type="text" id="user-set" v-model="userSetText" required>
        <button type="submit" class="pure-button pure-button-primary">加载</button>
    </form>
    <h2>总排名</h2>
    <div id="rank-chart-text">正在加载</div>
    <canvas id="rank-chart" style="width: 100%; height: 400px"></canvas>
    <h2>分数</h2>
    <div id="score-chart-text">正在加载</div>
    <canvas id="score-chart" style="width: 100%; height: 400px"></canvas>
    <h2>事件</h2>
    <div id="event-list-text">正在加载</div>
    <table class="pure-table pure-table-horizontal center" v-if="showResults">
        <thead>
        <tr class="center">
            <td>时间</td>
            <td>用户 ID.昵称</td>
            <td>解出题目</td>
            <td>分数变化</td>
            <td>总排名变化</td>
        </tr>
        </thead>
        <tbody>
            <tr v-for="i in events">
                <td>{{ new Date(i.time).toLocaleString() }}</td>
                <td style="word-break: break-all"><span>{{ i.user }}.</span><span v-for="part in pretty_name(coreData.users.find(j => j.id === i.user).display_name)" :style="part.style">{{ part.text }}</span></td>
                <td>{{ getFlagName(i.challenge, i.flag) }}</td>
                <td>{{ i.oldScore }} <i class="fas fa-long-arrow-alt-right"></i> {{ i.newScore }}</td>
                <td>{{ i.oldRank }} <i class="fas fa-long-arrow-alt-right"></i> {{ i.newRank }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endverbatim %}
{{ user_.json|json_script:'json-user' }}
<script>
    let defaultUserSetText = '';
    if (window.location.hash) {
        const defaultUserSet = window.location.hash.slice(1).split(',').map(i => parseInt(i));
        defaultUserSetText = defaultUserSet.join(',');
    } else {
        const user = JSON.parse(document.getElementById('json-user').textContent);
        if (user) {
            defaultUserSetText = `${user.pk}`;
        }
    }
    const app = new Vue({
        el: '#app',
        data: {
            userSetText: defaultUserSetText,
            showResults: false,
        },
        async created() {
            await this.refresh();
        },
        methods: {
            async refresh() {
                this.showResults = false;
                if (this.rankChart) {
                    this.rankChart.destroy();
                    document.getElementById('rank-chart').outerHTML = '<canvas id="rank-chart" style="width: 100%; height: 400px"></canvas>';
                }
                if (this.scoreChart) {
                    this.scoreChart.destroy();
                    document.getElementById('score-chart').outerHTML = '<canvas id="score-chart" style="width: 100%; height: 400px"></canvas>';
                }
                this.timeRange = await this.getTimeRange();
                if (!this.timeRange) {
                    document.getElementById('rank-chart-text').innerHTML = '比赛尚未开始';
                    document.getElementById('score-chart-text').innerHTML = '比赛尚未开始';
                    document.getElementById('event-list-text').innerHTML = '比赛尚未开始';
                    return;
                }
                this.userSet = this.userSetText.split(',').map(i => parseInt(i));
                if (this.userSet.length === 0) {
                    document.getElementById('rank-chart-text').innerHTML = '请输入用户 ID';
                    document.getElementById('score-chart-text').innerHTML = '请输入用户 ID';
                    document.getElementById('event-list-text').innerHTML = '请输入用户 ID';
                    return;
                }
                if (this.userSet.length > 10) {
                    document.getElementById('rank-chart-text').innerHTML = '最多同时显示 10 个用户';
                    document.getElementById('score-chart-text').innerHTML = '最多同时显示 10 个用户';
                    document.getElementById('event-list-text').innerHTML = '最多同时显示 10 个用户';
                    return;
                }
                window.location.hash = this.userSet.join(',');
                const { data } = await axios.get('/data/core.json');
                this.coreData = data;
                this.scoreMap = this.buildScoreMap();
                const { scoreHistory, rankHistory, events } = this.generate();
                this.scoreChart = this.drawChart(scoreHistory, 'score-chart');
                this.rankChart = this.drawChart(rankHistory, 'rank-chart', true);
                this.events = events;
                document.getElementById('score-chart-text').innerHTML = '';
                document.getElementById('rank-chart-text').innerHTML = '';
                document.getElementById('event-list-text').innerHTML = '';
                this.showResults = true;
            },
            buildScoreMap() {
                let challenges = {};
                for (const c of this.coreData.challenges) {
                    challenges[c.id] = {};
                    for (const f of c.flags) {
                        challenges[c.id][f.id] = f.score;
                    }
                }
                return challenges;
            },
            generate() {
                const scores = {};
                for (const u of this.coreData.users) {
                    scores[u.id] = { score: 0, time: this.timeRange.starttime };
                }
                const scoreHistory = {};
                const rankHistory = {};
                const events = [];
                for (const u of this.userSet) {
                    scoreHistory[u] = [{ time: this.timeRange.starttime, data: 0 }];
                    rankHistory[u] = [{ time: this.timeRange.starttime, data: 1 }];
                }
                const scoreBuckets = new Map([[0, this.coreData.users.length]]);
                for (const i of this.coreData.submissions) {
                    const oldScore = scores[i.user].score;
                    const newScore = oldScore + this.scoreMap[i.challenge][i.flag];
                    scores[i.user].score = newScore;
                    const oldTime = scores[i.user].time;
                    const newTime = i.time;
                    scores[i.user].time = newTime;
                    scoreBuckets.set(oldScore, scoreBuckets.get(oldScore) - 1);
                    scoreBuckets.set(newScore, (scoreBuckets.get(newScore) || 0) + 1);
                    for (const u of this.userSet) {
                        if (u === i.user) {
                            let rank = 0;
                            for (const [score, count] of scoreBuckets) {
                                if (score >= newScore) {
                                    rank += count;
                                }
                            }
                            rankHistory[u].push({ time: i.time, data: rank });
                        } else {
                            const oldScoreIsLower = oldScore < scores[u].score || (oldScore === scores[u].score && oldTime >= scores[u].time);
                            const newScoreIsHigher = newScore > scores[u].score;  // 超过的话一定是新分数更高，不可能相等
                            if (oldScoreIsLower && newScoreIsHigher) {
                                rank = rankHistory[u].slice(-1)[0].data + 1;
                                rankHistory[u].push({ time: i.time, data: rank });
                            }
                        }
                    }
                    if (this.userSet.includes(i.user)) {
                        scoreHistory[i.user].push({ time: i.time, data: scores[i.user].score });
                        events.push({
                            time: i.time,
                            user: i.user,
                            challenge: i.challenge,
                            flag: i.flag,
                            oldScore,
                            newScore,
                            oldRank: rankHistory[i.user].slice(-2)[0].data,
                            newRank: rankHistory[i.user].slice(-1)[0].data,
                        });
                    }
                }
                for (const u of this.userSet) {
                    scoreHistory[u].push({
                        time: this.timeRange.endtime,
                        data: scoreHistory[u].slice(-1)[0].data,
                    });
                    rankHistory[u].push({
                        time: this.timeRange.endtime,
                        data: rankHistory[u].slice(-1)[0].data,
                    });
                }
                return {scoreHistory, rankHistory, events};
            },
            async getTimeRange() {
                const { data: { value: triggers } } = await axios.post('/admin/trigger/', { method: 'get_all' });

                let starttime = triggers.find(i => i.can_submit);
                if (!starttime || new Date(starttime.time) > new Date()) {
                    return null;
                } else {
                    starttime = new Date(starttime.time);
                }
                let last_starttime = [...triggers].reverse().find(i => i.can_submit);
                let endtime = [...triggers].reverse().find(i => !i.can_submit);
                if (!endtime || new Date(endtime.time) > new Date() || new Date(endtime.time) < new Date(last_starttime.time)) {
                    endtime = new Date();
                } else {
                    endtime = new Date(endtime.time);
                }
                return {
                    starttime,
                    endtime,
                }
            },
            drawChart(history, chartId, flipYAxis = false) {
                const datasets = this.userSet.map((u, i) => {
                    const color = ["#C0392B", "#2ECC71", "#3498DB", "#F1C40F", "#8E44AD", "#797D7F", "#117864", "#E67E22", "#F1948A", "#1F618D"][i];
                    return {
                        label: `${u}.` + this.coreData.users.find(j => j.id === u).display_name,
                        data: history[u].map(({ time, data }) => ({ x: new Date(time), y: data })),
                        stepped: true,
                        fill: false,
                        backgroundColor: color,
                        borderColor: color,
                        borderWidth: 2,
                        radius: 2,
                        hoverRadius: 3,
                    };
                });

                return new Chart(document.getElementById(chartId).getContext('2d'), {
                    type: 'line',
                    data: {
                        datasets,
                    },
                    options: {
                        animation: false,
                        hover: {
                            mode: 'x',
                        },
                        responsive: false,
                        scales: {
                            x: {
                                type: 'time',
                                ticks: {
                                    minRotation: 50,
                                },
                                time: {
                                    unit: 'hour',
                                    displayFormats: {
                                        hour: "MM-DD HH:mm",
                                    },
                                    tooltipFormat: "YYYY-MM-DD HH:mm:ss",
                                },
                            },
                            y: {
                                reverse: flipYAxis,
                            }
                        },
                    },
                });
            },
            getFlagName(cid, fid) {
                const challenge = this.coreData.challenges.find(i => i.id === cid);
                if (challenge.flags.length === 1) {
                    return challenge.name;
                } else {
                    return challenge.name + ' / ' + challenge.flags[fid].name;
                }
            },
            getFlagScore(cid, fid) {
                return this.scoreMap[cid][fid];
            },
            tag_color(tag) {
                let random = new Math.seedrandom(tag);
                let color;
                do {
                    color = new CIELUV(
                        random() * 40 + 30,
                        random() * 400 - 200,
                        random() * 400 - 200,
                    ).sRGB();
                } while (!color.valid());
                return color.hex();
            },
            pretty_name(s) {
                const [a, ...b] = s.split(' #');
                const [c, ...d] = a.split('|');
                const r = [];
                return [
                    {text: c, style: {}},
                    {text: d.map(i => '|' + i).join(''), style: {color: '#888'}},
                    ...b.map(i => ({text: '#' + i, style: {
                        backgroundColor: this.tag_color(i),
                        color: '#fff',
                        borderRadius: '100em',
                        padding: '0 .5em',
                        marginLeft: '.25em',
                        whiteSpace: 'nowrap',
                    }})),
                ];
            },
        },
    });
</script>
{% endblock %}
