{% extends 'base.html' %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vue.min.js' %}"></script>
{% endblock %}

{% block content %}
{% verbatim %}
<div id="app">
    <form method="post">
        {% endverbatim %}{% comment %} 用户条款页面支持以下的扩展：
            <script id="json-quiz" type="application/json">
                {
                    "questions": [
                        {
                            "question": "使用搜索引擎搜索以尝试解题",
                            "answer": true,
                            "reason": "使用搜索引擎等通用工具解题是允许的"
                        },
                        {
                            "question": "问做出题目的舍友 flag",
                            "answer": false,
                            "reason": "blabla"
                        },
                        {
                            "question": "在群聊中分享自己的解题方法",
                            "answer": false,
                            "reason": "blabla"
                        },
                        {
                            "question": "一边听歌一边做题",
                            "answer": true,
                            "reason": "blabla"
                        }
                    ]
                }
            </script>
        {% endcomment %}
        {% csrf_token %}
        {% for obj in terms %}
            <h1>{{ obj.name }}</h1>
            <input type="hidden" name="terms" value="{{ obj.pk }}">
            <div>{{ obj.content|safe }}</div>
        {% endfor %}
        {% verbatim %}
        <div v-if="user_">
            <div id="vue-quiz" v-if="quizs">
                <hr>
                <p>以下问题回答正确后，同意按钮才会启用。</p>
                <form class="pure-form">
                    <ol>
                        <li v-for="(quiz, index) in quizs.questions" style="margin-bottom: 1em">
                            <div>{{ quiz.question }}</div>
                            <div>
                                <input type="radio" :id="`quiz-${index}-true`" :name="`quiz-${index}`" @change="check">
                                <label :for="`quiz-${index}-true`">符合</label>
                                <input type="radio" :id="`quiz-${index}-false`" :name="`quiz-${index}`" @change="check">
                                <label :for="`quiz-${index}-false`">不符合</label>
                            </div>
                            <div v-if="choices[index] !== null">
                                <span v-if="choices[index] === quiz.answer" style="color: green">选择正确，</span>
                                <span v-else style="color: red">选择错误，</span>
                                <span>{{ quiz.reason }}</span>
                            </div>
                        </li>
                    </ol>
                </form>
            </div>
            <!-- 请读者注意：以任何形式提交理解并同意的网络请求均视为已经完全理解并且同意以上条款的内容。 -->
            <button type="submit" class="pure-button pure-button-primary" :disabled="!enable_submit">我理解并同意以上条款</button>
        </div>
    </form>
</div>
{% endverbatim %}
{{ user_.json|json_script:'json-user' }}
<script>
    app = new Vue({
        el: '#app',
        data: {
            user_: JSON.parse(document.getElementById('json-user').textContent),
            enable_submit: false,
            quizs: null,
            choices: null,
        },
        created() {
            this.init_quiz();
        },
        methods: {
            init_quiz() {
                const ele = document.getElementById('json-quiz');
                if (!ele) {
                    this.enable_submit = true;
                    return;
                }
                const quizs = JSON.parse(ele.textContent);
                // comment out this if you don't want to shuffle the quizs.
                this.inplace_shuffle(quizs.questions);
                this.quizs = quizs;
                this.choices = Object.fromEntries(quizs.questions.map((_, index) => [index, null]));
            },
            check() {
                let correct = true;
                for (const [index, quiz] of this.quizs.questions.entries()) {
                    const ele_true = document.getElementById(`quiz-${index}-true`);
                    const ele_false = document.getElementById(`quiz-${index}-false`);
                    const correct_ans = quiz.answer;
                    if (ele_true.checked !== correct_ans || ele_false.checked !== !correct_ans) {
                        correct = false;
                    }
                    if (ele_true.checked) {
                        this.choices[index] = true;
                    } else if (ele_false.checked) {
                        this.choices[index] = false;
                    } else {
                        this.choices[index] = null;
                    }
                }
                this.enable_submit = correct;
            },
            inplace_shuffle(array) {
                // https://stackoverflow.com/a/2450976/8460426
                let current_index = array.length;
                let random_index;

                while (current_index > 0) {
                    random_index = Math.floor(Math.random() * current_index);
                    current_index--;

                    [array[current_index], array[random_index]] = [array[random_index], array[current_index]];
                }
            }
        }
    });
</script>
{% endblock %}
