{% extends 'base.html' %}

{% block content %}
    <h1>中国科学技术大学一血榜</h1>
    <table class="pure-table pure-table-horizontal center" style="empty-cells: show">
        <thead>
            <tr class="center">
                <td>题目</td>
                <td>昵称</td>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.problem }}</td>
                    <td style="word-break: break-all">{{ object.user }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
